*.out
*.aux
*.log
*.fls
*.fdb_latexmk
_build
TD6/Corrige/*.csv
TD1/Corrige/credentials.json
TD6/__pycache__/
TestEtudiants/
*.synctex.gz
TD*.pdf
.vscode/
~$*
TD3/Corrige/eco-counter-data_clean.json
TD3/Corrige/eco-counter-data_out.json
TD3/Corrige/td3-aurelie.py
TD1/TD1.7z
cours1.pdf
cours3.pdf
CoursIntro.pdf
LogoCursus/18131.jpg
LogoCursus/logo.pfi
LogoCursus/logo.png
NYfood.csv
TD5/Corrige/credentials.json
TD5/Corrige/randos_finales.json
Eval1/credentials.json
TD9/corrige/credentials.json
NotesEval1.ods
CC1/SanFrancisco_restaurants.json
CC1/Restaurant_Scores_SanFrancisco.csv
CC1/prepare_data.py
CC1/credentials.json
CC1/essai.py
CC1/restaurateurs.csv
TD7/Corrige/*.csv

ProjetCluedo/credentials.json
ProjetCluedo/ArchivesRomain

Evaluations2022-23
Evaluations2023-24
TestsAPIS
TD9_2023/vls-stations-topologie-td.csv
TD9_2023/vls-stations-etat-tr.csv
