*.out
*.aux
*.log
*.fls
*.fdb_latexmk
_build
TD6/Corrige/*.csv
TD1/Corrige/credentials.json
TD6/__pycache__/
TestEtudiants/
*.synctex.gz
TD*.pdf
.vscode/
~$*
TD3/Corrige/eco-counter-data_clean.json
TD3/Corrige/eco-counter-data_out.json
TD3/Corrige/td3-aurelie.py
TD1/TD1.7z
cours1.pdf
cours3.pdf
CoursIntro.pdf
cours1_old.pptx
